////////////////////////////////////////////////
//                 Variables                  //
////////////////////////////////////////////////

:root {
  --clr-light: #ffeedc;
  --clr-dark: #2e3840;
  --clr-dark-light: #4a5155;
  --clr-retro-red: #993300;
  --clr-retro-blue: #4e6e81;
  --default-width: 85vw;
  --max-width: 1170px;
  --default-transition: all 0.3s linear;
}

// Not sure if I'll be implementing these.
// .dark-theme {
// }

// .light-theme {
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  line-height: 1.5;
  font-size: 0.875rem;
}

////////////////////////////////////////////////
//               Global Styles                //
////////////////////////////////////////////////

.page {
  min-height: calc(100vh - (20vh + 10rem));
}

.section {
  padding: 5rem 0;
}
.section-center {
  width: var(--default-width);
  margin: 0 auto;
  max-width: var(--max-width);
}

.title {
  text-align: center;
}

.title .underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--clr-retro-red);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: var(--clr-dark); //gotta change
}

////////////////////////////////////////////////
//                  Navbar                    //
////////////////////////////////////////////////

.navbar-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;

  .nav-content {
    width: var(--default-width);
    margin: 0 auto;
    max-width: 1450px;
  }

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.25rem;

    h1 span span {
      color: var(--clr-retro-red);
    }
  }

  .nav-toggle {
    background: transparent;
    border: transparent;
    color: black;
    cursor: pointer;
    font-size: 2rem;
  }

  .nav-links {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  @media (width > 990px) {
    h1 {
      font-size: 1.75rem;
    }

    .nav-toggle {
      display: none;
    }

    .nav-content {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
    }

    .nav-links {
      display: flex;
      justify-content: center;

      li {
        list-style-type: none;
        margin: 0 0.5rem;

        &:hover {
          // ------- SAVING FOR LATER ----------
          transform: scale(1.5);
        }
      }

      a {
        font-size: 1rem;
        letter-spacing: 0.2rem;
        padding: 0.5rem;
        transition: all 2s linear;
      }
    }

    .nav-buttons {
      display: grid;
    }
  }
}

.nav-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 225px;

  .cart-btn {
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .cart-container {
    display: flex;
    align-items: center;
    position: relative;
    svg {
      height: 1.6rem;
      margin-left: 5px;
    }
  }

  .cart-value {
    position: absolute;
    top: -10px;
    right: -16px;
    background: var(--clr-retro-blue);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
    color: var(--clr-light);
    padding: 12px;
  }

  .auth-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    svg {
      margin-left: 5px;
    }
  }
}

////////////////////////////////////////////////
//                  Footer                    //
////////////////////////////////////////////////

footer {
  font-size: 1.25rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-dark);
  text-align: center;
  color: var(--clr-light);

  h5 {
    margin: 0.1rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
  }

  @media (min-width: 776px) {
    flex-direction: row;
  }
}

////////////////////////////////////////////////
//                  Sidebar                   //
////////////////////////////////////////////////

.sidebar-container {
  text-align: center;

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    h1 span {
      color: var(--clr-retro-red);
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-light);
    transition: all 0.3s linear;
    transform: translate(-100%);
    z-index: -1;
  }
  .show-sidebar {
    transform: translate(0);
    z-index: 1;
  }

  .close-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-retro-red);
    transition: all 0.3s linear;
    cursor: pointer;
    margin-top: 0.2rem;
  }

  .links {
    a {
      display: block;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      color: var(--clr-dark);
      letter-spacing: 0.25rem;
    }
  }

  .nav-buttons {
    margin: 1rem auto;
  }

  @media screen and (min-width: 992px) {
    .sidebar {
      display: none;
    }
  }
}

////////////////////////////////////////////////
//                 Home Page                  //
////////////////////////////////////////////////

// ------------------- HERO SECTION -----------------------
.hero {
  min-height: 60vh;
  display: grid;
  place-items: center;

  h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }

  .img-container {
    display: none;
  }

  p {
    line-height: 2;
    max-width: 45em;
    margin-bottom: 2rem;
    color: var(--clr-dark-light);
    font-size: 1rem;
  }

  @media (min-width: 999px) {
    height: calc(100vh - 5rem);
    grid-template-columns: 1fr 1fr;
    gap: 8rem;

    h1 {
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.25rem;
    }

    .img-container {
      display: block;
      position: relative;
    }

    .img1 {
      width: 100%;
      height: 550px;
      position: relative;
      border-radius: 0.5rem;
      display: block;
      object-fit: cover;
    }

    .img2 {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 250px;
      transform: translateX(-50%);
      border-radius: 0.5rem;
    }
  }
}

// ------------------- FEATURED SECTION -----------------------
.featured-section {
  background: var(--clr-retro-blue);
  color: var(--clr-light);

  .products {
    margin: 4rem auto;
    display: grid;
    gap: 2.5rem;

    img {
      height: 225px;
    }
  }

  .btn {
    display: block;
    width: 148px;
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: 576px) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
    
  }
}

////////////////////////////////////////////////
//                   About                    //
////////////////////////////////////////////////

.about-page {
  display: grid;
  gap: 2.5rem;
  width: 80vw;
  max-width: 1170px;

  img {
    width: 90%;
    display: block;
    height: 500px;
    border-radius: 0.4rem;
    object-fit: cover;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    line-height: 2;
    max-width: 45em;
    margin-top: 2rem;
  }

  .underline {
    margin-left: 0;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

////////////////////////////////////////////////
//                 Page Hero                  //
////////////////////////////////////////////////

.page-hero {
  width: 100%;
  height: 15vh;
  background-color: var(--clr-retro-red);
  display: flex;
  align-items: center;

  .content {
    color: var(--clr-light);
    align-items: center;
    margin: 0 auto;
    width: var(--default-width);
    max-width: 1170px;
  }
}

////////////////////////////////////////////////
//                   Error                    //
////////////////////////////////////////////////

.error {
  min-height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-8rem);

  h1 {
    font-size: 8rem;
  }
}
