////////////////////////////////////////////////
//                 Variables                  //
////////////////////////////////////////////////

:root {
  --clr-light: #ffeedc;
  --clr-dark: #2e3840;
  --clr-retro-red: #993300;
  --clr-retro-blue: #4e6e81;
}

// Not sure if I'll be implementing these.
.dark-theme {
}

.light-theme {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: var(--clr-dark); //gotta change
}

////////////////////////////////////////////////
//                  Navbar                    //
////////////////////////////////////////////////

.navbar-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;

  .nav-content {
    width: 85vw;
    margin: 0 auto;
    max-width: 1450px;
  }

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.25rem;
    // font-size: 1.35rem;

    h1 span span {
      color: var(--clr-retro-red);
    }
  }

  .nav-toggle {
    background: transparent;
    border: transparent;
    color: black;
    cursor: pointer;
    font-size: 2rem;
  }

  .nav-links {
    display: none;
  }

  .nav-buttons {
    display: none;
    letter-spacing: 0.2rem;
  }

  @media (width > 990px) {

    h1 {
      font-size: 1.75rem;
    }

    .nav-toggle {
      display: none;
    }

    .nav-content {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
    }

    .nav-links {
      display: flex;
      justify-content: center;

      li {
        list-style-type: none;
        margin: 0 0.5rem;

        &:hover {
          // ------- SAVING FOR LATER ----------
          transform: scale(1.5);
        }
      }

      a {
        font-size: 1rem;
        letter-spacing: 0.2rem;
        padding: 0.5rem;
        transition: all 2s linear;
      }
    }

    .nav-buttons {
      display: grid;
    }
  }
}

.nav-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 225px;

  .cart-btn {
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .cart-container {
    display: flex;
    align-items: center;
    position: relative;
    svg {
      height: 1.5rem;
      margin-left: 5px;
    }
  }

  .cart-value {
    position: absolute;
    top: -10px;
    right: -16px;
    background: var(--clr-retro-blue);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
    color: white;
    padding: 12px;
  }

  .auth-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    svg {
      margin-left: 5px;
    }
  }
}
