////////////////////////////////////////////////
//                 Variables                  //
////////////////////////////////////////////////

:root {
  --clr-light: #ffeedc;
  --clr-light-dark: #ffeedcec;
  --clr-light-light: #fff9f2;
  --clr-dark: #2e3840;
  --clr-dark-light: #4a5155;
  --clr-retro-red: #993300;
  --clr-retro-blue: #4e6e81;
  --default-width: 85vw;
  --max-width: 1170px;
  --default-transition: all 0.3s linear;
}

////////////////////////////////////////////////
//               Global Styles                //
////////////////////////////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Neco", serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  line-height: 1.5;
  font-size: 0.875rem;
}

.page {
  min-height: calc(100vh - (15vh + 10rem));
}

.page-full {
  min-height: calc(100vh - 10rem);
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: var(--default-width);
  margin: 0 auto;
  max-width: var(--max-width);
}

.btn {
  background: transparent;
  cursor: pointer;
  border: none;
  border: 2px solid var(--clr-retro-blue);
  letter-spacing: 0.15rem;
  font-family: "Pally", sans-serif;

  border-radius: 5px;
  transition: all 0.3s ease;
  background: var(--clr-retro-blue);
  color: var(--clr-light-light);
  padding: 0.4rem 0.5rem;

  &:hover {
    color: var(--clr-retro-blue);
    border: 2px solid var(--clr-retro-blue);
    background-color: transparent;
  }
}

.title {
  font-family: "Pally", sans-serif;
}

.title .underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--clr-retro-red);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.875rem;
}

////////////////////////////////////////////////
//                  Navbar                    //
////////////////////////////////////////////////

.navbar-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;

  .nav-content {
    width: var(--default-width);
    margin: 0 auto;
    max-width: 1450px;
  }

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.25rem;

    h1 {
      font-size: 1.75rem;
    }

    h1 span span {
      color: var(--clr-retro-red);
    }
  }

  .nav-toggle {
    background: transparent;
    border: transparent;
    color: black;
    cursor: pointer;
    font-size: 2rem;
  }

  .nav-links {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  @media screen and (min-width: 990px) {
    .nav-toggle {
      display: none;
    }

    .nav-content {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
    }

    .nav-links {
      display: flex;
      justify-content: center;

      li {
        list-style-type: none;
        margin: 0 0.5rem;
        transition: all 0.3s linear;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          display: inline-block;
          width: 100%;
          border-bottom: 2px solid var(--clr-dark);
          margin-top: 10px;
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
        }

        &:hover::after {
          opacity: 1;
          -webkit-transform: scale(0.8);
          transform: scale(0.8);
        }
      }

      a {
        font-size: 1rem;
        letter-spacing: 0.2rem;
        padding: 0.5rem;
        transition: all 2s linear;
      }
    }

    .nav-buttons {
      display: grid;
    }
  }
}

.nav-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 225px;
  color: var(--clr-dark);
  font-family: "Pally", sans-serif;

  .cart-btn {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .cart-container {
    display: flex;
    align-items: center;
    position: relative;
    svg {
      height: 1.6rem;
      margin-left: 5px;
    }
  }

  .cart-value {
    position: absolute;
    top: -10px;
    right: -16px;
    background: var(--clr-retro-blue);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
    color: var(--clr-light);
    padding: 12px;
  }

  .auth-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border-color: transparent;
    color: var(--clr-dark);
    font-size: 1.5rem;
    font-family: "Pally", sans-serif;
    cursor: pointer;
    svg {
      margin-left: 5px;
    }
  }
}

////////////////////////////////////////////////
//                  Footer                    //
////////////////////////////////////////////////

footer {
  font-size: 1.25rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-dark);
  text-align: center;
  color: var(--clr-light);

  h5 {
    margin: 0.1rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
  }

  @media screen and (min-width: 776px) {
    flex-direction: row;
  }
}

////////////////////////////////////////////////
//                  Sidebar                   //
////////////////////////////////////////////////

.sidebar-container {
  text-align: center;

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;

    h1 {
      font-size: 1.75rem;
    }

    h1 span {
      color: var(--clr-retro-red);
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-light);
    transition: all 0.3s linear;
    transform: translate(-100%);
    z-index: -1;
  }
  .show-sidebar {
    transform: translate(0);
    z-index: 1;
  }

  .close-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-retro-red);
    transition: all 0.3s linear;
    cursor: pointer;
    margin-top: 0.2rem;
  }

  .links {
    a {
      display: block;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      color: var(--clr-dark);
      letter-spacing: 0.25rem;
      transition: var(--default-transition);

      &:hover {
        background-color: var(--clr-retro-blue);
        color: var(--clr-light-light);
      }
    }
  }

  .nav-buttons {
    margin: 1rem auto;
  }

  @media screen and (min-width: 992px) {
    .sidebar {
      display: none;
    }
  }
}

////////////////////////////////////////////////
//                 Home Page                  //
////////////////////////////////////////////////

// ------------------- HERO SECTION -----------------------
.hero {
  min-height: 60vh;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }

  .img-container {
    display: none;
  }

  p {
    line-height: 2;
    max-width: 45em;
    margin-bottom: 2rem;
    color: var(--clr-dark-light);
    font-size: 1rem;
  }

  @media screen and (min-width: 999px) {
    height: calc(100vh - 5rem);
    grid-template-columns: 1fr 1fr;
    gap: 8rem;

    h1 {
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.25rem;
    }

    .img-container {
      display: block;
      position: relative;
    }

    .img1 {
      width: 100%;
      height: 550px;
      position: relative;
      border-radius: 0.5rem;
      display: block;
      object-fit: cover;
    }

    .img2 {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 250px;
      transform: translateX(-50%);
      border-radius: 0.5rem;
    }
  }

  .btn {
    padding: 0.4rem 0.7rem;
  }
}

// ------------------- FEATURED SECTION -----------------------
.featured-section {
  background: var(--clr-retro-blue);
  color: var(--clr-light);

  h2 {
    letter-spacing: 0.25rem;
    text-align: center;
  }

  .products {
    margin: 3rem auto;
    display: grid;
    gap: 2.5rem;

    img {
      height: 225px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;

    .btn {
      color: var(--clr-dark);
      background-color: var(--clr-light);
      border-color: var(--clr-light);
      padding: 0.3rem 0.9rem;

      &:hover {
        background-color: transparent;
        color: var(--clr-light);
      }
    }
  }

  @media screen and (min-width: 576px) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}

// ------------------- SERVICES SECTION -----------------------
.services {
  background: var(--clr-retro-red);
  color: var(--clr-light);
  padding: 3rem 0;

  h3,
  h4 {
    color: var(--clr-primary-1);
    text-transform: capitalize;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 1.8;
    font-size: 1rem;
    color: var(--clr-light-dark);
  }

  .services-center {
    display: grid;
    gap: 2.5rem;
  }

  .service {
    background: var(--clr-retro-blue);
    text-align: center;
    padding: 2.5rem 2rem;
    border-radius: 0.25rem;
  }

  span {
    width: 4rem;
    height: 4rem;
    display: grid;
    margin: 0 auto;
    place-items: center;
    margin-bottom: 1rem;
    border-radius: 50%;
    background: var(--clr-light);
    color: var(--clr-dark);
    svg {
      font-size: 2rem;
    }
  }

  @media screen and (min-width: 992px) {
    .header {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 576px) {
    .services-center {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 0;

    .section-center {
      transform: translateY(4rem);
    }
  }
}

// ------------------- CONTACT SECTION -----------------------

.contact-section {
  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.8;
    font-size: 1rem;
    color: var(--clr-dark-light);
  }

  form {
    width: 85vw;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr auto;

    input,
    button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border: 2px solid var(--clr-dark);
    }

    input {
      border-right: none;
      color: var(--clr-dark-light);
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    button {
      background-color: var(--clr-retro-blue);
      color: var(--clr-light-light);
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      cursor: pointer;
      letter-spacing: 0.1rem;
      font-family: "Pally", sans-serif;
    }
  }

  @media screen and (min-width: 1280px) {
    .section-center {
      padding: 8rem 0;
    }

    h3 {
      font-size: 2rem;
    }

    form {
      margin: 0 auto;
    }
  }

  .submitted-form {
    text-align: center;
  }
}

////////////////////////////////////////////////
//                   About                    //
////////////////////////////////////////////////

.about-page {
  display: grid;
  gap: 2.5rem;
  width: 80vw;
  max-width: 1170px;

  img {
    width: 90%;
    display: block;
    height: 500px;
    border-radius: 0.4rem;
    object-fit: cover;
  }

  h2 {
    text-align: left;
    font-size: 2.5rem;
  }

  p {
    line-height: 2;
    max-width: 45em;
    margin-top: 2rem;
  }

  .underline {
    margin-left: 0;
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

////////////////////////////////////////////////
//                 Page Hero                  //
////////////////////////////////////////////////

.page-hero {
  width: 100%;
  height: 15vh;
  background-color: var(--clr-retro-red);
  display: flex;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 0.35rem;

  .content {
    color: var(--clr-light);
    align-items: center;
    margin: 0 auto;
    width: var(--default-width);
    max-width: 1170px;

    @media screen and (max-width: 600px) {
      font-size: 1.75rem;
    }
  }
}

////////////////////////////////////////////////
//                  Product                   //
////////////////////////////////////////////////

.product {
  font-family: "Lato", sans-serif;
  .img-container {
    position: relative;
    display: grid;
    place-items: center;

    a {
      display: grid;
      place-items: center;
      background-color: var(--clr-retro-red);
      padding: 0.75rem;
      border-radius: 50%;
      opacity: 0;
      cursor: pointer;
      color: var(--clr-light);
      position: absolute;
      font-size: 1.5rem;
      transition: var(--default-transition);
    }

    img {
      border-radius: 0.4rem;
      height: 225px;
      width: 100%;
      transition: var(--default-transition);

      @media screen and (max-width: 895px) {
        height: 100%;
      }
    }

    &:hover {
      img {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
        filter: brightness(0.75);
        transform: scale(1.01);
      }

      a {
        opacity: 1;
      }
    }
  }

  .product-footer {
    color: var(--clr-light-light);
    text-transform: capitalize;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
      letter-spacing: 0.15rem;
      font-weight: 400;
      font-size: 1rem;
    }

    p {
      letter-spacing: 0.1rem;
      font-size: 1rem;
    }
  }
}

////////////////////////////////////////////////
//               Single Product               //
////////////////////////////////////////////////

.single-product-page {
  // Images section
  .product-images {
    padding: 2rem 0;

    .main-img {
      width: 100%;
      display: block;
      border-radius: 0.25rem;
      object-fit: cover;
    }

    .bottom-images {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 1rem;

      img {
        height: 50px;
        cursor: pointer;
        width: 100%;
        object-fit: cover;
        border-radius: 0.2rem;
      }

      .active {
        border: 2px solid var(--clr-retro-blue);
      }
    }
  }

  // Info section
  .product-info {
    text-transform: capitalize;
    line-height: 2rem;

    .item-name {
      margin: 0.75rem 0;
      font-size: 2.5rem;
      letter-spacing: 0.15rem;
    }

    .star-container {
      margin-bottom: 0.5rem;
      display: flex;
      gap: 0.75rem;

      .stars {
        padding-top: 0.1rem;
        font-size: 1rem;
        color: var(--clr-retro-red);
      }

      .reviews {
        font-size: 1rem;
      }
    }

    .price {
      margin: 0.75rem 0;
    }

    .stock {
      font-size: 1rem;
      margin: 0.75rem 0;
    }

    .price,
    .stock,
    .reviews {
      font-family: "Lato", sans-serif;
    }

    h5 span {
      font-weight: normal;
    }

    .desc {
      font-size: 1rem;
      font-family: "Lato", sans-serif;
    }
  }

  // Add to Cart section
  .add-to-cart {
    margin-top: 0.75rem;

    .color-container {
      margin-top: 0.75rem;
      display: grid;
      grid-template-columns: 75px 1fr;
      align-items: center;
      margin-bottom: 1rem;

      span {
        text-transform: capitalize;
        font-weight: 700;
      }

      div {
        display: flex;
      }

      .color-btn {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background: #222;
        margin-right: 0.5rem;
        border: none;
        cursor: pointer;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          font-size: 0.75rem;
          color: var(--clr-light-light);
        }
      }

      .active {
        opacity: 1;
      }
    }

    .amount-container {
      margin-bottom: 1rem;
    }

    .btn {
      margin-top: 1rem auto;
      background-color: var(--clr-retro-red);
      border-color: var(--clr-retro-red);

      &:hover {
        background-color: transparent;
        color: var(--clr-retro-red);
      }
    }
  }

  // Convert to a grid layout on a bigger screen
  @media screen and (min-width: 990px) {
    .divider {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 4rem;
    }

    .main-img {
      height: 500px;
    }

    .product-images .bottom-images img {
      height: 75px;
    }
  }

  .back-btn {
    background-color: var(--clr-retro-red);
    color: var(--clr-light);
    border-color: var(--clr-retro-red);

    &:hover {
      color: var(--clr-retro-red);
      background-color: transparent;
    }
  }
}

.amount-selector-container {
  display: grid;
  width: 140px;
  justify-items: center;
  grid-template-columns: (1fr 1fr 1fr);
  align-items: center;

  button {
    background: transparent;
    border-color: transparent;
    color: var(--clr-dark);
    cursor: pointer;
    padding: 1rem 0;
    width: 2rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

////////////////////////////////////////////////
//                  Filters                   //
////////////////////////////////////////////////

.filters-component {
  display: grid;
  padding: 2rem 0;
  font-family: "Lato", sans-serif;

  .content {
    text-align: center;
  }

  form {
    text-align: center;

    .heading {
      text-align: center;
    }

    h5 {
      font-family: "Pally", sans-serif;
      text-align: left;
      letter-spacing: 0.2rem;
      font-size: 1rem;
    }

    .form-control {
      margin: 1rem auto;
    }

    .search-box {
      padding: 0.6rem 0.7rem;
      outline: none;
      width: 90%;
      border-radius: 0.5rem;
      border: 2px solid var(--clr-retro-blue);

      background-color: var(--clr-light-light);
      color: var(--clr-dark);
      transition: var(--default-transition);

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 11px 5px rgba(#000, 0.2);
      }

      &:focus {
        text-align: center;
      }
    }

    .company-btns {
      margin-top: 0.25rem;
      display: flex;
      justify-content: space-around;

      button {
        border: none;
        background-color: transparent;
        text-transform: capitalize;
        padding: 0.25rem 0.5rem;
        letter-spacing: 0.15rem;
        transition: 0.2s all linear;
        color: #4a5155;

        &:hover {
          transform: translateX(3px);
          background-color: #6f99b143;
        }
      }

      .active {
        background-color: var(--clr-retro-blue);
        color: var(--clr-light-light);

        &:hover {
          background-color: var(--clr-retro-blue);
        }
      }
    }

    .category-btns {
      margin-top: 0.25rem;
      display: grid;

      button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        text-transform: capitalize;
        padding: 0.4rem 0.5rem;
        letter-spacing: 0.15rem;
        transition: 0.2s all linear;
        color: #4a5155;

        &:hover {
          transform: translateX(3px);
          background-color: #6f99b143;
        }
      }

      .active {
        background-color: var(--clr-retro-blue);
        color: var(--clr-light-light);

        &:hover {
          background-color: var(--clr-retro-blue);
        }
      }
    }

    .colors {
      display: flex;
      justify-content: center;
      margin-top: 0.25rem;

      .all-btn {
        background-color: transparent;
        border: none;
        margin-right: 0.5rem;
        letter-spacing: 0.15rem;
        cursor: pointer;
        opacity: 0.5;
        transition: var(--default-transition);
        color: var(--clr-dark);
      }

      .color-btn {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #222;
        margin-right: 0.5rem;
        border: none;
        cursor: pointer;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--default-transition);

        &:hover {
          opacity: 1;
          transform: scale(1.2);
        }

        svg {
          font-size: 0.5rem;
          color: var(--clr-light-light);
        }
      }

      .active {
        transform: scale(1.05);
        opacity: 1;
        font-weight: 600;
      }
    }

    .shipping-box {
      display: flex;
      justify-content: center;
      letter-spacing: 0.15rem;

      label {
        margin-right: 0.25rem;
      }

      input {
        cursor: pointer;
        color: #222;
      }
    }

    // input[type="range"] {
    //   margin-top: 0.75rem;
    //   width: 200px;
    //   height: 15px;
    //   -webkit-appearance: none;
    //   background-color: #fff;
    //   outline: none;
    //   border-radius: 15px;
    //   overflow: hidden;
    //   box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
    // }

    // input[type="range"]::-webkit-slider-thumb {
    //   -webkit-appearance: none;
    //   height: 1rem;
    //   width: 1rem;
    //   border-radius: 50%;
    //   background-color: var(--clr-retro-red);
    //   cursor: pointer;
    //   box-shadow: -407px 0 0 400px var(--clr-retro-blue);
    // }
  }
}

////////////////////////////////////////////////
//                 Sort Bar                   //
////////////////////////////////////////////////

.sort-bar {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  margin-bottom: 1.5rem;
  column-gap: 1rem;

  @media screen and (max-width: 576px) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.75rem;
    .btn-container {
      width: 50px;
    }

    label {
      display: inline-block;
      margin-right: 0.5rem;
    }

    form {
      display: flex;
      justify-content: space-between;
    }
  }

  p {
    text-transform: capitalize;
    margin-bottom: 0;
  }

  .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;

    button {
      background: transparent;
      border: 2px solid var(--clr-dark);
      color: var(--clr-dark);
      width: 1.5rem;
      border-radius: 0.3rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        font-size: 1rem;
      }
    }

    .active {
      background: var(--clr-dark);
      color: var(--clr-light-light);
    }
  }

  .sort-input {
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--clr-retro-blue);
    color: var(--clr-light-light);
  }

  label {
    font-size: 1rem;
    margin-right: 0.75rem;
    text-transform: capitalize;
  }
}

////////////////////////////////////////////////
//               Products Page                //
////////////////////////////////////////////////

.products-page {
  .products {
    display: grid;
    margin: 0 auto 3rem;

    .no-products {
      padding: 5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      h5 {
        letter-spacing: 0.15rem;
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (min-width: 750px) {
    .section-center {
      max-width: 1450px;
    }

    .products {
      margin: 3rem auto;
      gap: 2rem;
      grid-template-columns: 250px 1fr;

      .no-products {
        height: 80%;
        text-align: center;

        h5 {
          font-size: 2rem;
        }
      }
    }

    .content {
      text-align: left;
    }

    .filters-component {
      padding-top: 0;

      .form-control {
        text-align: left;
      }

      .shipping-box {
        justify-content: start;
      }

      .company-btns {
        display: block;

        button {
          padding: 0.4rem 0.5rem;
          width: 100%;
          text-align: left;
        }
      }

      .category-btns {
        button {
          text-align: left;
        }
      }

      .heading {
        text-align: left;
      }

      .colors {
        justify-content: start;
      }
    }
  }
}

////////////////////////////////////////////////
//                 Grid View                  //
////////////////////////////////////////////////

.grid-view {
  .product-footer {
    color: var(--clr-dark);
  }

  img {
    height: 175px;
    object-fit: cover;
  }

  .products-container {
    display: grid;
    gap: 2rem 1.5rem;
  }

  @media screen and (min-width: 1050px) {
    .products-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1170px) {
    .products-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

////////////////////////////////////////////////
//                 List View                  //
////////////////////////////////////////////////

.list-view {
  display: grid;
  row-gap: 2rem;
  margin-bottom: 3rem;

  img {
    width: 75vw;
    height: 50vw;
    object-fit: cover;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
  }

  h4 {
    text-transform: capitalize;
  }

  .price {
    margin-bottom: 0.75rem;
  }

  p {
    max-width: 45em;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 520px) {
    img {
      height: 60vw;
      width: 85vw;
    }
  }

  @media screen and (min-width: 992px) {
    img {
      width: 300px;
      height: 200px;
    }

    article {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 1rem;
    }
  }
}

////////////////////////////////////////////////
//                 Cart Page                  //
////////////////////////////////////////////////

.empty-cart {
  display: grid;
  place-items: center;

  div {
    width: 90vw;
    padding: 4rem;
    max-width: 500px;
    border: 2px solid #4a5155ce;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;

    > * {
      margin: 2rem auto;
    }

    text-align: center;

    svg {
      font-size: 3rem;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

////////////////////////////////////////////////
//                Cart Content                //
////////////////////////////////////////////////

.cart-content-component {
  margin: 3rem 0;

  .column-headings {
    display: none;
  }

  .cart-buttons {
    display: flex;
    justify-content: space-between;

    .btn-continue {
      background-color: transparent;
      color: var(--clr-retro-blue);

      &:hover {
        background-color: var(--clr-retro-blue);
        color: var(--clr-light);
      }
    }
  }

  // ------------- Cart Item ----------------
  hr {
    border-top: 2px solid #4a51556b;
  }

  .cart-item {
    margin: 1rem auto;

    .main-container {
      display: flex;
      text-transform: capitalize;
      letter-spacing: 0.1rem;

      .name {
        font-size: 1.15rem;
      }

      img {
        border-radius: 0.5rem;
        object-fit: cover;
        width: 200px;
        height: 200px;
        margin-right: 0.75rem;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Lato", sans-serif;

        > * {
          padding: 0.5rem 0;
        }

        p > span {
          position: absolute;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          margin-left: 4px;
          margin-top: 4px;
        }
      }
    }

    .btn-container {
      margin: 1rem 0;
      padding: 0.25rem;
      display: flex;
      justify-content: space-between;
      border-radius: 0.5rem;
      border: 1px solid #4a515541;

      .remove-btn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0 0.75rem;
        font-size: 1.25rem;

        svg {
          transition: all 0.3s linear;
          color: var(--clr-retro-red);
        }

        &:hover {
          svg {
            transform: scale(1.1);
          }
        }
      }

      .amount-selector-container {
        button {
          font-size: 0.75rem;
          transition: all 0.2s linear;

          &:hover {
            transform: scale(1.2);
          }
        }
        h2 {
          font-size: 1.5rem;
        }
      }
    }

    @media screen and (min-width: 950px) {
      .main-container {
        img {
          border-radius: 0.5rem;
          object-fit: cover;
          width: 400px;
          height: 300px;
          margin-right: 0.75rem;
        }

        div {
          width: 100%;
          padding-left: 2rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .name {
            font-size: 1.5rem;
          }

          p {
            transform: translateX(-1.5rem);
            font-size: 1rem;
          }

          .price-mobile {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////
//               Cart Summary                 //
////////////////////////////////////////////////

.cart-summary-component {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  font-family: "Lato", sans-serif;

  div {
    border: 1px solid #4a515575;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 700px;
    display: flex;
    flex-direction: column;

    article {
      h5 {
        font-size: 1.15rem;
      }

      > * {
        margin: 1rem 0;
      }

      h4,
      h5,
      p {
        display: grid;
        grid-template-columns: 200px 1fr;
      }
    }

    .btn {
      text-align: center;
    }

    @media screen and (min-width: 750px) {
      article {
        h4,
        h5,
        p {
          display: grid;
          grid-template-columns: 400px 1fr;
        }
      }
    }
  }
}

////////////////////////////////////////////////
//                  Stripe                    //
////////////////////////////////////////////////

.checkout-form {
  display: grid;
  place-items: center;

  .checkout-info {
    width: 30vw;
    margin-bottom: 0.5rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    padding: 0 0.5rem;
    font-family: "Lato", sans-serif;

    article {
      display: grid;
      place-items: center;
      text-align: center;

      .greeting {
        background-color: var(--clr-retro-red);
        color: var(--clr-light-light);
        padding: 0.25rem 0.5rem;
      }

      p span {
        font-weight: 600;
        text-decoration: underline;
      }

      p {
        padding: 0.25rem 0;
      }
    }
  }

  form {
    width: 30vw;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1),
      0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 20px;
  }

  input {
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    max-height: 44px;
    font-size: 16px;
    width: 100%;
    background: var(--clr-light-light);
    box-sizing: border-box;
  }

  .result-message {
    line-height: 22px;
    font-size: 16px;
  }

  .result-message a {
    color: var(--clr-dark);
    font-weight: 600;
    text-decoration: none;
  }

  .hidden {
    display: none;
  }
  #card-error {
    color: var(--clr-retro-blue);
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    text-align: center;
  }
  #card-element {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    max-height: 44px;
    width: 100%;
    background: var(--clr-light-light);
    box-sizing: border-box;
  }

  #payment-request-button {
    margin-bottom: 32px;
  }

  /* Buttons and links */
  button {
    background: var(--clr-retro-blue);
    font-family: "Pally", sans-serif;
    color: #ffffff;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
  }
  button:hover {
    filter: contrast(115%);
  }
  button:disabled {
    opacity: 0.5;
    cursor: default;
  }
  /* spinner/processing state, errors */
  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }

  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }

  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }

  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @media only screen and (max-width: 1200px) {
    form {
      width: 60vw;
    }
    .checkout-info {
      width: 60vw;
    }
  }

  @media only screen and (max-width: 600px) {
    form {
      width: 90vw;
    }

    .checkout-info {
      width: 90vw;
    }
  }
}

////////////////////////////////////////////////
//                   Error                    //
////////////////////////////////////////////////

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15rem;

  div {
    padding: 3rem 2rem;
    max-width: 600px;
    width: 90vw;
    border: 2px solid #4a5155;
    border-radius: 1rem;
    font-family: "Lato", sans-serif;

    > * {
      margin: 2rem 0;
    }

    h1 {
      margin: 0 auto;
      font-size: 8rem;
    }

    h2 {
      margin-top: 0;
    }

    @media screen and (max-width: 600px) {
      h1 {
        font-size: 5rem;
      }

      h2 {
        font-size: 1rem;
      }
    }
  }
}

////////////////////////////////////////////////
//                   Loader                   //
////////////////////////////////////////////////

.loader {
  display: grid;
  place-items: center;

  img {
    background: transparent;
  }
}
